* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    background-color: rgb(20, 20, 20);
  }

  .container{
    width: 100%;
    display: flex;
    padding: 7rem 3rem 10rem 3rem;
  }
  
    .search{
      width: 75%;
      height: 23rem;
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
      }
      .input__container{
  background-color: #37383e;
  color: #ffffff;
  height: 60px;
  width: 100%;
  line-height: 24px;
  padding: 16px 24px;
  border-radius: 12px;
  direction: rtl;
  display: flex;
  fill: #ffffff;
}

.input__search{
  width: 83%;
  margin-right:0.5rem ;
font-family: b yekan;
background-color: #37383e;
border: none;
outline: none;
color: #ffffff;
font-size: 18px;
}
.svg__Farem{
  /* width: 100%; */
  display: flex;
 justify-content: center;
  margin: 4rem 4rem 0 4rem ;
}
.text__Farem{
  display: flex;
  justify-content: center;
  width: 100%;
  color: #aaaaaa;
  text-align: center;
}
.text__Farem p {
  width: 60%;
  font-size: 16px;
  font-family: b yekan;
  font-weight: 700;
}

/* filters */
.filters{
  width: 17rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  border-radius: 12px;
  background-color: #37383e;
  color: #ffffff;
 font-size: 17px;
    font-family: b yekan;
    font-weight: 400;
  }
 /* <!-- text__baner --> */
  .text__baner{
    display: flex;
    width: 100%;
    height: 2rem;
    justify-content: space-between;
  
    margin-bottom: 0.5rem;
  }
  .border__filters{
    width: 100%;
    height: 0.1px;
background-color: #747272;
  }
  .text__baner p {
    color: #ffffff;
  }
  .text__baner a {
    text-decoration : none;
    color: rgb(0, 136, 255);
  }

 /* <!-- check box --> */
.check__box{
  display: flex;
  direction: rtl;
  margin: 0 0 0.2rem 0;

}

.check__box div {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0.5rem;
}
.input__check{
  margin-left: 0.4rem;
}
.box__filters{
  display: flex;
  justify-content: space-between;
margin: 0.8rem 0;
fill: #ffffff;
}
.box__filters svg{
  transform: rotate(180deg);
}